body {
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}  

.canvasContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
}

.menuContainer {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    background: linear-gradient(#1879BD, #084D79);
}

.menuContainer h1 {
    color: #fff;
    font-size: 40px;
}

.button {
    width: 400px;
    height: 50px;
    line-height: 50px;
    color: #FFF;
    text-decoration: none;
    background: linear-gradient(#333, #222);
    text-align: center;
    font-size: 24px;
    display: block;
    border-radius: 10px;
}
.button:hover {
    background: linear-gradient(#444, #333);
}


.breaker{
  display:block;
  width:100%;
  height:0;
 }