body {
    font-family: Helvetica;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
}  

.canvasContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: none;
    /* background: rgba(255, 255, 255, .5) */
}

.menuContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    background: none;
}

.menuBtns a {
    margin: 20px;
}

.backgroundVideo {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#menuAudioBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: auto;
}

#menuAudioBtn:hover {
    cursor: pointer;
}

.button {
    width: 400px;
    height: 50px;
    line-height: 50px;
    color: #111;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .3) , rgba(255, 255, 255, .8), rgba(255, 255, 255, .3));
    text-align: center;
    font-size: 24px;
    display: block;
    letter-spacing: 1px;
}

.breaker{
  display:block;
  width:100%;
  height:0;
 }

.songsContainer, .resultsContainer, .wrapcircles, #songInfo {
    display: none;
}